rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /donations/{document=**} {
      allow read, write: if true;
    }
    match /pickup_requests/{document=**} {
      allow read, write: if true;
    }
    match /contact_messages/{document=**} {
      allow read, write: if true;
    }
  }
}
